*.pyc
*.pyd
*.pkl
*.so
*.egg-info/
.DS_Store
*.pth
pw
*.o
*.ipynb
*.ipynb_checkpoints/
*.out
npz/
*.npy
dev/transfer.c
*.jpg
*.png
*.bmp
*.bak
*.zip
.*.swp


docs/apidoc

# vscode
.vscode/


# Models
nav_models

*.pdf
.cache
notebook
build
dist

# Coverage
.coverage
coverage.xml

**/results/**
**/output/**

src/virtualhome_eval/resources/virtualhome/pddl_files/
src/virtualhome_eval/resources/behavior/pddl_files/
logs/
release_output/
src/eai_eval/data